@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cuentas Mancomunadas: ";
}
<div class="container border border-primary" style="background-color:lightgrey">
    <header>
        <h4>Cuentas Mancomunadas:</h4>
    </header>
    <div class="form-row">
        <div class="col-lg-11">
            <div class="container mt-1 mb-1 border border-dark">
                <div class="form-row">
                    <label for="txtCMCuenta" class="col-sm-2 col-form-label">
                        Número de cuenta:
                    </label>
                    <div class="col-sm-10">
                        <input id="txtCMCuenta" class="form-control" type="text" readonly />
                    </div>
                </div>
                <div class="form-row">
                    <label for="txtCMProd" class="col-sm-2 col-form-label">
                        Producto:
                    </label>
                    <div class="col-sm-4">
                        <input id="txtCMProd" class="form-control" type="text" readonly />
                    </div>
                    <label for="txtCMMoneda" class="col-sm-2:">
                        Moneda:
                    </label>
                    <div class="col-sm-4">
                        <input id="txtCMMoneda" class="form-control" type="text" readonly />
                    </div>
                </div>
            </div>
            <div class="container">
                <fieldset class="border border-dark">
                    <legend class="w-auto" style="font-size:14px;">
                        Clientes
                    </legend>
                    <div class="container">
                        <div class="table-responsive bg-white" style="max-height:500px;">
                            <table id="tbCuentasMancomunadas" class="table table-bordered table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Direccion</th>
                                        <th>Nombre</th>
                                        <th>IdcN</th>
                                        <th>IdcT</th>
                                        <th>Relacion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="d-flex h-100 align-items-end">
                <div class="form-row">
                    <center>
                        <button id="btCMAceptar" class="col col-lg-12 btn btn-outline-secondary m-1">
                            <i class="fas fa-check icono-2x"></i><br />Seleccionar
                        </button>
                        <button id="btCMCerrar" class="col col-lg-12 btn btn-outline-secondary m-1">
                            <i  class="fas fa-window-close icono-2x"></i><br />Cerrar
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#tbCuentasMancomunadas').on('click', 'tbody tr', function () {
        var selected=$(this).hasClass("bg-info");
        if(!selected){
            $("#tbCuentasMancomunadas tbody tr").removeClass("bg-info");
            $(this).addClass("bg-info");        
        } 
    });
</script>
